.password-reset-page .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.password-reset-page form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.password-reset-page input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: border 0.3s ease;
}

.password-reset-page input:focus {
  border-color: #4caf50;
}

.password-reset-page .submit-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  padding: 10px 20px;
}

.password-reset-page .submit-button:hover {
  background-color: #45a049;
}

.password-reset-page .submit-button:active {
  background-color: #388e3c;
}

.password-reset-page .error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
}

.back-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #e53935;
}

.resend-otp {
  font-size: 14px;
  color: #555;
}

.otp-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.otp-input-box {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 24px;
  text-align: center;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-container p {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.email-sent-container .email-sent-message {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
}

.email-sent-container .email-resend-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.disabled-button {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
}

.invalid-token {
  display: flex;
  background-color: red;
  font-size: 16px;
  text-align: center;
  align-items: center;

  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  margin-top: 30px;

  position: fixed;
  left: 50%;
}

.invalid-token .information-icon {
  display: inline;
  color:white;
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-right: 8px;
}

.invalid-token p {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
}

.invalid-token .close-icon {
  display: inline;
  margin-left: 10px;
  color: black;
  width: 24px;
}

.invalid-token .close-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.error-message p {
  color: red;
  text-shadow: none;
  font-size: 14px;
  margin-bottom: 10px;
}