.not-found {
  background: #ff4d4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 60%;
  align-self: center;
  margin: 0 auto;
  font-size: 24px;
  margin-top: 200px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  unicode-bidi: isolate;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.friendslist-container {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 60%;
  align-self: center;
  margin: 0 auto;
  margin-top: 100px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.friendslist-container .ag-center-cols-container {
  height: min-content;
  min-height: 0px;
  height: auto;
}

.friendslist-container .ag-header-cell-label {
  justify-content: center;
}

.friendslist-container .ag-center-cols-container,
.friendslist-container .ag-viewport,
.friendslist-container .ag-center-cols-viewport {
  margin-bottom: 0px;
  min-height: 0px !important;
}

.friendslist-container .ag-theme-alpine {
  height: auto;
  width: 100%;
  min-height: 0;
}

.friendslist-container .ag-theme-alpine .ag-header {
  background-color: rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid white;
  font-size: 15px;
}

.friendslist-container .ag-theme-alpine .ag-header-cell {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-align: center !important;
  align-content: center;
}

.friendslist-container .ag-theme-alpine .ag-row {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px #000000;
  align-items: center;
  display: flex;
}

.friendslist-container .ag-theme-alpine .ag-cell {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.55);
  align-items: center;
  display: flex;
  justify-content: center;
}

.friendslist-container .ag-theme-alpine .ag-root-wrapper {
  background-color: transparent;
  border-radius: 3px;
  overflow: hidden;
  color: white;
}

.friendslist-container .ag-cell-value {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Avatar Styling */
.friendslist-container .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Pagination Styling */
.friendslist-container .ag-paging-panel {
  display: flex;
  gap: 10px;
  margin-top: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.55);
}

.friendslist-container .ag-theme-alpine .ag-paging-panel .ag-paging-button {
  padding: 8px 12px;
  border: none;
  background: rgb(255, 255, 255, 1);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.friendslist-container
  .ag-theme-alpine
  .ag-paging-panel
  .ag-paging-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.friendslist-container
  .ag-theme-alpine
  .ag-paging-panel
  .ag-paging-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.friendslist-container
  .ag-theme-alpine
  .ag-paging-panel
  .ag-paging-button.ag-active {
  background: white;
  color: black;
  font-weight: bold;
}

.ag-picker-field-wrapper {
  color: black;
}

.table-gap {
  margin: 50px 0;
}

.username-link {
  cursor: pointer;
  text-decoration: none;
}

.username-link:hover {
  text-decoration: underline;
}

.incoming-friend-requests-button {
  background-color: rgba(0, 255, 0, 0.25);
  color: white;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions-button-container .accept-button {
  background-color: green;
  margin: 0 10px;
}

.actions-button-container .accept-button:hover {
  background-color: rgb(0, 100, 0);
}

.actions-button-container .decline-button {
  background-color: red;
  margin: 0 10px;
}

.actions-button-container .decline-button:hover {
  background-color: rgb(205, 0, 0);
}
