.game-mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #554040;
  max-height: 1200px;
}

.welcome-message {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  color: #333;
  justify-content: end;
}

.mode-selection {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mode-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;    
  max-width: 30vw;  
  height: 50vh;
  max-height: 900px;
  position: relative;
  border: 2px solid black;
}

.mode-card .mode-logo {
  width: 100%;
  height: 40%;
  object-fit: scale-down; 
  border-radius: 10px;
  display: block;
}

.mode-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  color: #ffffff;
}

.mode-description {
  font-size: 1.11rem;
  color: #ffffff;
  margin-top: 5px;
  text-align: center;
}

.mode-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mode-card .mode-play-button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mode-card .mode-play-button:hover {
  background-color: #e64a19;
}

.misc-tools {
  flex: 1;
  display: flex;
}

