/* Game Loading Screen */
.loader-full {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.loading-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-icon {
  color: white;
  font-size: 3rem;
}

/* Game Lobby */
.game-lobby-full {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 100;
  align-items: center;
  justify-content: center;;
}

.game-lobby-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.game-lobby-settings {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.game-lobby-users {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background-color: #444;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.game-lobby-chat {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #555;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}