/* Game Loading Screen */
.loader-full {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.loading-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-icon {
  color: white;
  font-size: 3rem;
}

/* Game Lobby */
.game-lobby-full {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.game-lobby-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.game-lobby-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.game-lobby-users {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background-color: #444;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
}

/* Game Settings */
.game-lobby-settings-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.game-lobby-settings-header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

.game-lobby-settings-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #555;
  height: 80%;
}

.game-lobby-settings-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.game-lobby-settings-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.save-settings-button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #088b3f;
  color: white;
  cursor: pointer;
}

.save-settings-button:hover {
  background-color: #45a049;
  transition: background-color 0.2s;
}

.save-settings-button:active {
  background-color: #388e3c;
}

/* Game Chat */
.game-lobby-chat-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #555;
  color: white;
  box-sizing: border-box;
}

.game-lobby-chat-messages {
  flex-grow: 1;
  height: 92%;
  overflow-y: auto;
}

.chat-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
}

.chat-container:nth-child(odd) {
  background-color: #666;
}

.chat-container:nth-child(even) {
  background-color: #777;
}

.game-lobby-chat-messages p {
  margin: 0;
  border-bottom: 1px solid #666;
}

.game-lobby-chat-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 8%;
}

.chat-input {
  flex-grow: 1;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #888;
  color: white;
}

.chat-send-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #055096;
  color: white;
  cursor: pointer;
}

.chat-send-button:hover {
  background-color: #1a5a96;
  transition: background-color 0.2s;
}

.chat-send-button:active {
  background-color: #3478b8;
}

/* Game Users */
.game-lobby-users-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.game-lobby-users h1 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

.game-lobby-users-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  align-items: center;
  justify-content: left;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #666;
  height: 80%;
  width: 100%;
}

.game-lobby-user {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 10%;
}

.game-lobby-user img {
  object-fit: contain;
  height: 100%;
  padding: 2px;
  border-radius: 50%;
}

.game-lobby-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.game-lobby-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.game-lobby-buttons .ready-button {
  background-color: #088b3f;
}

.game-lobby-buttons .ready-button:hover {
  background-color: #45a049;
  transition: background-color 0.2s;
}

.game-lobby-buttons .ready-button:active {
  background-color: #388e3c;
}

.game-lobby-buttons .leave-button {
  background-color: #ff4d4d;
}

.game-lobby-buttons .leave-button:hover {
  transition: background-color 0.2s;
  background-color: #e53935;
}

.game-lobby-buttons .leave-button:active {
  background-color: #b13937;
}

.game-lobby-buttons .start-button {
  background-color: #055096;
}

.game-lobby-buttons .start-button:hover {
  transition: background-color 0.2s;
  background-color: #1a5a96;
}

.game-lobby-buttons .start-button:active {
  background-color: #3478b8;
}

/* Quiz Display Header */
.question-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
}

.question-display-lobby-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.question-display-lobby-details .leave-button {
  background-color: #ff4d4d;
}

.question-display-lobby-details .leave-button:hover {
  transition: background-color 0.2s;
  background-color: #e53935;
}

.question-display-lobby-details .leave-button:active {
  background-color: #b13937;
}

.question-display-lobby-details p {
  font-size: 15px;
  font-weight: bold;
}

/* Quiz Question Display */
.question-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid white;
  border-radius: 25px;
  width: 95%;
  height: 80%;
  color: white;
  font-family: "Fredoka", "Baloo", "Comic Neue", sans-serif;
  font-weight: bold;
}

.question-header-details {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.question-question {
  display: flex;
  height: 30%;
  width: 90%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1.5rem;
}

.question-options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  width: 90%;
  height: 45%;
  padding: 0;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #111;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.option:hover {
  background-color: #222;
}

.selected {
  background-color: #001ea1 !important;
}

.wrong {
  background-color: #ff4d4d !important;
}

.correct {
  background-color: #088b3f !important;
}

.disabled {
  cursor: not-allowed !important;
}

/* Question Timer Bar */
.question-timer-border {
  display: flex;
  justify-content: left;
  width: 90%;
  height: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.question-timer {
  background-color: white;
  border-radius: 10px;
  height: 100%;
}
