.login-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

button {
  color: white;
  text-align: center;
  padding: 10px 16px;
  font-size: 16px;
  font-family: inherit;
  display: block;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
}

button:hover {
  background-color: #333;
  transition: background-color 0.3s ease;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #222;
}