.login-bar {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
}

.login-bar-button {
  margin: 0 4px;
}

button {
  color: white;
  text-align: center;
  padding: 10px 16px;
  font-size: 16px;
  font-family: inherit;
  display: block;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
}

.signup-button:hover {
  background-color: #333;
  transition: background-color 0.3s ease;
}

.signup-button:focus {
  outline: none;
}

.signup-button:active {
  background-color: #222;
}

.logged-in-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.logged-in-bar p {
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.login-button {
  background-color: #4caf50;
}

.login-button:hover {
  background-color: #45a049;
}

.login-button:active {
  background-color: #388e3c;
}

.logout-button {
  background-color: #ff4d4d;
}

.logout-button:hover {
  background-color: #e53935;
}

.logout-button:active {
  background-color: #b13937;
}

.welcome-text {
  display: flex;
  align-items: center;
}

.welcome-text p {
  margin: 0;
  color: white;
}

.username {
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.username:hover {
  color: #0073e6;
}