.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);

  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 15px;
}

.nav-item a {
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  height: 40px;
  border-radius: 15px;
}

.nav-item a:hover {
  background-color: #333;
  transition: background-color 0.3s ease;
}

.nav-item a:active {
  background-color: #222;
}

.nav-item a.active {
  background-color: #222;
}