.no-access-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
  background-image: none;
  position: fixed;
  z-index: 1001;
}

.no-access-container h1 {
  font-size: 36px;
  color: #ff0000;
  margin-bottom: 20px;
}

.no-access-container p {
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.contact-support {
  color: blue;
}
